<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>Portion Master</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
        <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">

      
        <!-- Theme Styles -->
        <link href="../../assets/css/main.min.css" rel="stylesheet">
        <link href="../../assets/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
      <div class='loader'>
        <div class='spinner-grow text-primary' role='status'>
          <span class='sr-only'>Loading...</span>
        </div>
      </div>

        <div class="page-container">
          <div class="page-header">
            <nav class="navbar navbar-expand-lg d-flex justify-content-between">
                  <div class="" id="navbarNav">
                    <ul class="navbar-nav" id="leftNav">
                      <li class="nav-item">
                        <a class="nav-link" id="sidebar-toggle" href="#"><i data-feather="arrow-left"></i></a>
                      </li>
                      
                    </ul>
                    </div>
                    <div><a href="index.html"><h2 style="color: black;"><strong>Portion Master</strong></h2></a></div>
                    <div class="logo">
                      
                      <a class="navbar-brand" href="index.html"></a>
                    </div>
                    <div class="" id="headerNav">
                      <ul class="navbar-nav">
                        
                      </ul>
                  </div>
                </nav>
            </div>
            <div class="page-sidebar">
                <ul class="list-unstyled accordion-menu">
                  <li class="sidebar-title">
                    Main
                  </li>
                  <li class="active-page">
                    <a href="index.html"><i data-feather="home"></i>Dashboard</a>
                  </li>
                  <li class="sidebar-title">
                    Subjects
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>Biology<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="eob_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="eob_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="eob_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="eob_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>Calculus<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="calculus_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="calculus_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="calculus_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="calculus_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>PPS<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="pps_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="pps_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="pps_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="pps_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>BDS<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="bds_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="bds_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="bds_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="bds_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>FWD<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="fwd_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="fwd_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="fwd_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="fwd_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>MAE<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="mae_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="mae_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="mae_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="mae_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  
                </ul>
            </div>
            <div class="page-content">
                <div class="main-wrapper">
                  <h4 class="m-b-md m-t-md">Files</h4>
                      <div class="col-sm-12 col-md-10">
                        <div class="row">
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/njpr8m6ra1fueywbartx2/Data-Structures-Using-C-2nd-edition-3.pdf?rlkey=zbo94xbmtt8dt3223w4rx1cpz&st=9ebs27ch&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Textbook- Data Structures using C</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/d5oy0t82tukha525m44uy/Unit-5.1-Linear-Data-Structure-Linked-List.pptx?rlkey=s92hqbstt3i7kgvszpqefh6si&st=xpcnlqnt&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-powerpoint"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Cheat Sheet- Linear Linked List</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/io7ve0yrb9kgq6xkpw4ls/Unit-4-Queues-1.ppt?rlkey=1hpxn5h07y16tnu2lejhgzldc&e=1&st=mkk664jd&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-powerpoint"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Cheat Sheet- Queues</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/e24v3ai33c7a4yzamtjao/Singly-Linked-List-Codes.docx?rlkey=t1mfe0wrtlv3z05vvyjsmfd06&e=1&st=x3nabex7&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-word"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Singly Linked List Codes</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/r9tksrrz2x0id0a5zo42q/Call-Center-using-circular-Queue-1.docx?rlkey=xpcutu5ne1jc9pqzbhhqa1vtm&e=1&st=ujbypuxm&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-word"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Call Center Code using Circular Queue</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/uo04alh17dbkumcla3rmx/Circular-Queue-1.docx?rlkey=mvgfdzb3izhxamh2vonpi18ei&st=mtmisc9v&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-word"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Cheat Sheet- Circular Queue</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/qguyy4s8mmob05g4a4mhg/Unit-1_-2-Introduction-to-Data-Structure-3.pptx?rlkey=cui593bijp65dwbmozg8qnpb3&e=1&st=nd5nwot0&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-powerpoint"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 1,2- PPT</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/qguyy4s8mmob05g4a4mhg/Unit-1_-2-Introduction-to-Data-Structure-3.pptx?rlkey=cui593bijp65dwbmozg8qnpb3&e=1&st=nd5nwot0&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-powerpoint"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 1,2- PPT</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/w5bfllz8hp7hzzr10ur5t/Unit-3-Stacks-2.ppt?rlkey=uonn9nwsrueslidj32xurntzq&e=1&st=v2y9o3ht&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-powerpoint"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 3- PPT</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/jwxkigpp6xxfnhaoc4urx/Stack-using-structure.docx?rlkey=dksc7cw2ptbwn7p8924fjjgi7&st=yy5nm5fr&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-word"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 3- Code</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/iqa4tfnzte1d6zkmnxrkv/Unit-4-Queues.ppt?rlkey=bjyq2fnlhggo49wb273rmanjn&st=dzi6isp3&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-powerpoint"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 4- PPT</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/k6ny7b8h9icjbuc3qwfbn/Circular-Queue.docx?rlkey=jsuuml91lwq9td85doxw6gpzi&st=j47mdr9s&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-word"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Circular Queue Code</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/wqzq3tf2k16av3e7sbuvt/Unit-5.1-Linear-Data-Structure-Linked-List.pptx?rlkey=x1hqeyi04jpuim189ueo1n23b&st=yccuxwnw&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-powerpoint"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 5- PPT</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <!-- <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/wqzq3tf2k16av3e7sbuvt/Unit-5.1-Linear-Data-Structure-Linked-List.pptx?rlkey=x1hqeyi04jpuim189ueo1n23b&st=fhtv83q9&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-powerpoint"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 5- Codes</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div> -->
                        </div>
                
                        
                                  
                </div>
              
            </div>
        
        <!-- Javascripts -->
        <script src="https://kit.fontawesome.com/a7fb28fd4f.js" crossorigin="anonymous"></script>
        <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
        <script src="../../assets/js/main.min.js"></script>
    </body>
</html>
