<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>Circl - Responsive Admin Dashboard Template</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
        <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">

      
        <!-- Theme Styles -->
        <link href="../../assets/css/main.min.css" rel="stylesheet">
        <link href="../../assets/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
      <div class='loader'>
        <div class='spinner-grow text-primary' role='status'>
          <span class='sr-only'>Loading...</span>
        </div>
      </div>
      
        <div class="page-container">
          <div class="page-header">
            <nav class="navbar navbar-expand-lg d-flex justify-content-between">
              <div class="" id="navbarNav">
                <ul class="navbar-nav" id="leftNav">
                  <li class="nav-item">
                    <a class="nav-link" id="sidebar-toggle" href="#"><i data-feather="arrow-left"></i></a>
                  </li>
                  
                </ul>
                </div>
                <div><a href="index.html"><h2 style="color: black;"><strong>Portion Master</strong></h2></a></div>
                <div class="logo">
                  
                  <a class="navbar-brand" href="index.html"></a>
                </div>
                <div class="" id="headerNav">
                  <ul class="navbar-nav">
                    
                    
                  </ul>
              </div>
            </nav>
        </div>
        <div class="page-sidebar">
            <ul class="list-unstyled accordion-menu">
              <li class="sidebar-title">
                Main
              </li>
              <li class="active-page">
                <a href="index.html"><i data-feather="home"></i>Dashboard</a>
              </li>
              <li class="sidebar-title">
                Subjects
              </li>
              <li>
                <a href="index.html"><i data-feather="gift"></i>Biology<i class="fas fa-chevron-right dropdown-icon"></i></a>
                <ul class="">
                  <li><a href="eob_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                  <li><a href="eob_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                  <li><a href="eob_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                  <li><a href="eob_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                </ul>
              </li>
              <li>
                <a href="index.html"><i data-feather="gift"></i>Calculus<i class="fas fa-chevron-right dropdown-icon"></i></a>
                <ul class="">
                  <li><a href="calculus_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                  <li><a href="calculus_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                  <li><a href="calculus_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                  <li><a href="calculus_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                </ul>
              </li>
              <li>
                <a href="index.html"><i data-feather="gift"></i>PPS<i class="fas fa-chevron-right dropdown-icon"></i></a>
                <ul class="">
                  <li><a href="pps_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                  <li><a href="pps_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                  <li><a href="pps_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                  <li><a href="pps_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                </ul>
              </li>
              <li>
                <a href="index.html"><i data-feather="gift"></i>BDS<i class="fas fa-chevron-right dropdown-icon"></i></a>
                <ul class="">
                  <li><a href="bds_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                  <li><a href="bds_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                  <li><a href="bds_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                  <li><a href="bds_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                </ul>
              </li>
              <li>
                <a href="index.html"><i data-feather="gift"></i>FWD<i class="fas fa-chevron-right dropdown-icon"></i></a>
                <ul class="">
                  <li><a href="fwd_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                  <li><a href="fwd_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                  <li><a href="fwd_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                  <li><a href="fwd_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                </ul>
              </li>
              <li>
                <a href="index.html"><i data-feather="gift"></i>MAE<i class="fas fa-chevron-right dropdown-icon"></i></a>
                <ul class="">
                  <li><a href="mae_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                  <li><a href="mae_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                  <li><a href="mae_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                  <li><a href="mae_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                </ul>
              </li>
              
            </ul>
        </div>
            <div class="page-content">
                <div class="main-wrapper">
                  <h4 class="m-b-md m-t-md">Files</h4>
                      <div class="col-sm-12 col-md-10">
                        <div class="row">
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/js50d54g401rtt6uw2bru/Unit-1_Revised-sessionwise-problems.pdf?rlkey=8qtjxh55ld7oc13zlcnrwz355&e=1&st=a8q9rh4k&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 1- Classwork Problems</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/oayf7ph0lsgcx6dazmeo9/Unit-1_Revised-Tutorial-problems-1.pdf?rlkey=noe2519c467st0lorp9ddjmcf&e=1&st=xnx5wnph&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 1- Tutorial Problems</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/8ejyp9t8cglq8twh6lw7t/unit2_sessionswise-problems.pdf?rlkey=4wbftp5qty135z8tgcf5do07a&st=c7iy6aiw&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 2- Classwork Problems</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/fktwijtyxcyi4lttpgq08/Unit-2-Formula-Sheet.pdf?rlkey=6pljc48rsndf0ygfvnkwiees0&st=htppjphp&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 2- Formula Sheet</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/mm7gv6w2ymleg71qw45ps/Unit-3-Tutorial-Problems-1.pdf?rlkey=rty0thwecsmqv77ytxa1cjbeo&st=nvpuy7s3&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 3- Tutorial Problems</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/m9g7ppv5z8j2a9f84cuv7/Unit-3-Sessionwise-Problems.pdf?rlkey=jlfyuqsquqsai3xltymfe1npt&st=lcpgqm44&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 3- Classwork Problems</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/6xy8gl70eyzycqiy1aztx/Unit-4-Tutorial-Problems-1.pdf?rlkey=seadi3dvk06de1zea64jpc90s&st=vc12hxb0&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 4- Tutorial Problems</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/020w21ryan6ok65hg7a45/Unit-4-Sessionwise-Problems.pdf?rlkey=vvdwdhe3v39qgn80et69iw75n&st=eha0cdiv&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 4- Classwork Problems</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/nuokyks28td8o56u6lw06/Unit5-tutorial-problems_part-1-1.pdf?rlkey=7j0bxzwz68c99l48wwo4ts1v0&e=1&st=vf5vc103&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 5- Tutorial Problems</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <a href="https://www.dropbox.com/scl/fi/ftrsohyiyw0to7uwthl27/Unit5-sessionwise-problems.pdf?rlkey=b7sh1co03khxz4qldjmrrjpdt&e=1&st=npbcip4i&dl=0" target="_blank">
                            <div class="card card-file-manager">
                              <div class="card-file-header text-danger">
                                <i class="fa-regular fa-file-pdf"></i>
                              </div>
                              <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Unit 5- Classwork Problems</h6>
                               
                              </div>
                            </div>
                            </a>
                          </div>
                        </div>
                
                        
                                  
                </div>
              
            </div>
        
        <!-- Javascripts -->
        <script src="https://kit.fontawesome.com/a7fb28fd4f.js" crossorigin="anonymous"></script>
        <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
        <script src="../../assets/js/main.min.js"></script>
    </body>
</html>