<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Portion Master">
        <meta name="keywords" content="Dashboard Content">
        <meta name="author" content="stacks">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>Portion Master</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
        <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
        <link href="../../assets/plugins/apexcharts/apexcharts.css" rel="stylesheet">

      
        <!-- Theme Styles -->
        <link href="../../assets/css/main.min.css" rel="stylesheet">
        <link href="../../assets/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <style>
      table{
        border-radius: 5px;
        border-collapse: collapse;
        box-sizing: border-box;
      }
      td,tr, th{
        border: 1px solid black;
      }
      /* .dark-mode {
        background: rgb(36, 34, 34) !important;
        color: white;
}*/
      nav{
        background-color: white;
      }
      
    </style>
 
    <body>

        <div class="page-container">
            <div class="page-header" >
                <nav class="navbar navbar-expand-lg d-flex justify-content-between">
                  <div class="" id="navbarNav">
                    <ul class="navbar-nav" id="leftNav">
                      <li class="nav-item">
                        <a class="nav-link" id="sidebar-toggle" href="#"><i data-feather="arrow-left"></i></a>
                      </li>
                      
                    </ul>
                    </div>
                    <div><a href="index.html"><h2 style="color: black;"><strong>Portion Master</strong></h2></a></div>
                    <div class="logo">
                      
                      <a class="navbar-brand" href="index.html"></a>
                    </div>
                    <div class="" id="headerNav">
                      <ul class="navbar-nav">
                        
                      </ul>
                  </div>
                </nav>
            </div>
            <div class="page-sidebar">
                <ul class="list-unstyled accordion-menu">
                  <li class="sidebar-title">
                    Main
                  </li>
                  <li class="active-page">
                    <a href="index.html"><i data-feather="home"></i>Dashboard</a>
                  </li>
                  <li class="sidebar-title">
                    Subjects
                  </li>
                  <li >
                    <a href="index.html"><i data-feather="gift"></i>Biology<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="eob_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="eob_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="eob_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="eob_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>Calculus<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="calculus_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="calculus_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="calculus_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="calculus_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>PPS<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="pps_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="pps_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="pps_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="pps_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>BDS<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="bds_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="bds_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="bds_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="bds_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>FWD<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="fwd_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="fwd_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="fwd_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="fwd_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.html"><i data-feather="gift"></i>MAE<i class="fas fa-chevron-right dropdown-icon"></i></a>
                    <ul class="">
                      <li><a href="mae_notes.html"><i class="far fa-circle"></i>Notes</a></li>
                      <li><a href="mae_qp.html"><i class="far fa-circle"></i>Question Papers</a></li>
                      <li><a href="mae_ass.html"><i class="far fa-circle"></i>Assignments</a></li>
                      <li><a href="mae_cp.html"><i class="far fa-circle"></i>Course Policy</a></li>
                    </ul>
                  </li>
                  
                </ul>
            </div>
            
            <div class="page-content">
              <div class="main-wrapper">
                <div class="row">
                  <div class="col-sm-6 col-xl-8 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Time Table</h5>
                            <!-- <div id="apex1"></div> -->
                            <div class="table-responsive ">
                              <table class="border-radius" border="1" style="background-color: black; " align="center">
                                  <thead>
                                      <caption><center><h2>BTI DIVISION B Timetable</h2></b></center></caption>
                                  </thead>
                                  <tbody>
                                      <tr align="center" style="background-color: lightblue;">
                                          <th width = 150 height="50">Time</th>
                                          <th width = 150 height="50">Monday</th>
                                          <th width = 150 height="50">Tuesday</th>
                                          <th width = 150 height="50">Wedneday</th>
                                          <th width = 150 height="50">Thursday</th>
                                          <th width = 150 height="50">Friday</th>
                                          <th width = 150 height="50">Saturday</th>
                                      </tr>
                                      <tr align="center" style="background-color: aliceblue;">
                                          <td height="50">8:00 - 9:00</td>
                                          <td rowspan="2">BDS lab <BR>CL-401</td>
                                          <td>FWD<BR>CR-401</td>
                                          <td></td>
                                          <td rowspan="2">PPS lab<BR> CL-403</td>
                                          <td rowspan="2">PPS lab<BR> CL-705</td>
                                          <td>CAL<BR> CR-403</td>
                                      </tr>
                                      <tr align="center" style="background-color: aliceblue;">
                                          <td height="50">9:00 - 10:00</td>  
                                          <td>FWD <br> CR-401</td>
                                          <td></td>
                                          <td>BDS<BR>CR-403</td>
                                      </tr>
                                      <tr align="center" style="background-color: aliceblue;">
                                          <td height="50">10:00 - 11:00</td>
                                          <td>PPS<BR>CR-401</td>
                                          <td rowspan="2">FWD lab<BR>CL-404</td>
                                          <td rowspan="2">FWD lab<BR>CL-404</td>
                                          <td>PPS<BR>CR-306</td>
                                          <td>CAL<BR>CR-403</td>
                                          <td>CT<BR>CR-403</td>
                                      </tr>
                                      <tr align="center" style="background-color: aliceblue;">
                                          <td height="50">11:00 - 12:00</td>
                                          <td>BDS<BR>CR-401</td>
                                          <td>Break</td>
                                          <td>CT<BR>CR403</td>
                                          <td></td>
                                      </tr>
                                      <tr align="center" style="background-color: aliceblue;">
                                          <td height="50">12:00 - 1:00</td>
                                          <td>Break</td>
                                          <td>Break</td>
                                          <td>Break</td>
                                          <td>CAL<BR>CR-401</td>
                                          <td>Break</td>
                                          <td></td>
                                      </tr>
                                      <tr align="center" style="background-color: aliceblue;">
                                          <td height="50">1:00 - 2:00</td>
                                          <td>EOB<BR>CR-307</td>
                                          <td>EOB<BR>CR-403</td>
                                          <td>BDS<BR>CR-401</td>
                                          <td>CAL Tutorial<BR>CR-603</td>
                                          <td></td>
                                          <td></td>
                                      </tr>
                                      <tr align="center" style="background-color: aliceblue;">
                                          <td height="50">2:00 - 3:00</td>
                                          <td>ES<BR>CR-307</td>
                                          <td>EOB<BR>CR-403</td>
                                          <td rowspan="2">MAE<BR>CR-307</td>
                                          <td>ES<BR>CR-401</td>
                                          <td></td>
                                          <td></td>
                                      </tr>
                                      <tr align="center" style="background-color: aliceblue;">
                                          <td height="50">3:00 - 4:00</td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>                      
                          </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4">
                    <div class="card stat-widget">
                      <div class="card-body">
                          <h5 class="card-title">Tasks</h5>
                          <div class="transactions-list">
                            <div class="tr-item">
                              <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-primary text-primary">
                                  <i data-feather="check-circle"></i>
                                </div>
                                <div class="tr-text">
                                  <h4>EOB Assignment 5,6</h4>
                                  <p>05 November</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="transactions-list">
                            <div class="tr-item">
                              <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-info text-info">
                                  <i data-feather="check-circle"></i>
                                </div>
                                <div class="tr-text">
                                  <h4>FWD Project</h4>
                                  <p>05 November</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="transactions-list">
                            <div class="tr-item">
                              <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-danger text-danger">
                                  <i data-feather="check-circle"></i>
                                </div>
                                <div class="tr-text">
                                  <h4>EOB Presentations</h4>
                                  <p>05 November</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="transactions-list">
                            <div class="tr-item">
                              <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-warning text-warning">
                                  <i data-feather="check-circle"></i>
                                </div>
                                <div class="tr-text">
                                  <h4>FWD Lab Exam and Viva</h4>
                                  <p>05 November</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="transactions-list">
                            <div class="tr-item">
                              <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-primary text-info">
                                  <i data-feather="check-circle"></i>
                                </div>
                                <div class="tr-text">
                                  <h4>MAE Presentations</h4>
                                  <p>06 November</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="transactions-list">
                            <div class="tr-item">
                              <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-info text-info">
                                  <i data-feather="check-circle"></i>
                                </div>
                                <div class="tr-text">
                                  <h4>PPS Lab Exam</h4>
                                  <p>07 November</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="transactions-list">
                            <div class="tr-item">
                              <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-danger text-info">
                                  <i data-feather="check-circle"></i>
                                </div>
                                <div class="tr-text">
                                  <h4>BDS Lab Exam</h4>
                                  <p>11 November</p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-4">
                    <div class="card stat-widget">
                      <div class="card-body">
                        <h5 class="card-title">Important Links</h5>
                        <div class="transactions-list">
                          <div class="tr-item">
                            <div class="tr-company-name">
                              <div class="tr-icon tr-card-icon tr-card-bg-primary text-primary">
                                <i data-feather="link"></i>
                              </div>
                              <div class="tr-text">
                                <h4><a href="https://drive.google.com/drive/folders/1wU0SyQ21vocLzusTA_y4igxcmgi7WQKS" target="_blank">BTI Handout</a></h4>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="transactions-list">
                          <div class="tr-item">
                            <div class="tr-company-name">
                              <div class="tr-icon tr-card-icon tr-card-bg-info text-info">
                                <i data-feather="link"></i>
                              </div>
                              <div class="tr-text">
                                <h4><a href="https://portal.svkm.ac.in/usermgmt/login" target="_blank">SVKM Portal</a></h4>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="transactions-list">
                          <div class="tr-item">
                            <div class="tr-company-name">
                              <div class="tr-icon tr-card-icon tr-card-bg-danger text-danger">
                                <i data-feather="link"></i>
                              </div>
                              <div class="tr-text">
                                <h4><a href="https://www.dropbox.com/scl/fi/bf8742feibsdwkahpjepg/Holiday-list-2024.pdf?rlkey=1usl7nuky0qsehsoupi6no9vj&st=v1dnk8gl&dl=0" target="_blank">Holiday List</a></h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="transactions-list">
                          <div class="tr-item">
                            <div class="tr-company-name">
                              <div class="tr-icon tr-card-icon tr-card-bg-warning text-warning">
                                <i data-feather="link"></i>
                              </div>
                              <div class="tr-text">
                                <h4><a href="https://www.dropbox.com/scl/fi/wmjmwu5zitnty5kiyz5ja/SRB-2023-24.pdf?rlkey=bjrbikljnk3ajws9ihyw683mt&st=1van2io6&dl=0" target="_blank">Student Resource Book</a></h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="transactions-list">
                          <div class="tr-item">
                            <div class="tr-company-name">
                              <div class="tr-icon tr-card-icon tr-card-bg-info text-info">
                                <i data-feather="link"></i>
                              </div>
                              <div class="tr-text">
                                <h4><a href="https://www.dropbox.com/scl/fi/bxg0pi80fu0w5dvxb8ye4/Student-Leave-Application.pdf?rlkey=k5w2emeyse5dkpeh4tjfx4xcl&st=td840yaf&dl=0" target="_blank">Leave Application</a></h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="transactions-list">
                          <div class="tr-item">
                            <div class="tr-company-name">
                              <div class="tr-icon tr-card-icon tr-card-bg-primary text-primary">
                                <i data-feather="link"></i>
                              </div>
                              <div class="tr-text">
                                <h4><a href="https://forms.gle/nKKS6R6xpiqAbCsY8" target="_blank">Student Form</a></h4>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-8">
                    
                      <div class="card table-widget">
                        
                          <div class="card-body">
                            
                              <h5 class="card-title">Faculty Connect</h5>
                              <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Faculty Name</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Mail</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Dr. Minirani</th>
                                    <td>Calculus</td>
                                    <td><a href="mailto:minirani.s@nmims.edu">minirani.s@nmims.edu</a></td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">Prof. Bhakti Bapat</th>
                                    <td>EOB</td>
                                    <td><a href="mailto:bhakti.bapat@nmims.in">bhakti.bapat@nmims.in</a></td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">Prof Khusbu Chauhan</th>
                                    <td>BDS</td>
                                    <td><a href="mailto:khushbu.chauhan@nmims.edu">khushbu.chauhan@nmims.edu</a></td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">Prof. Rojal Tuscano</th>
                                    <td>FWD</td>
                                    <td><a href="mailto:rojal.tuscano@nmims.in">rojal.tuscano@nmims.in</a></td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">Prof. Krishna Samdani</th>
                                    <td>PPS</td>
                                    <td><a href="mailto:krishna.samdani@nmims.in">krishna.samdani@nmims.in</a></td>
                        
                                  </tr>
                                  <tr>
                                    <th scope="row">Prof. Payal Mishra</th>
                                    <td>PPS</td>
                                    <td><a href="mailto:payal.mishra@nmims.in">payal.mishra@nmims.in</a></td>
                        
                                  </tr>
                                  <tr>
                                    <th scope="row">Prof. Preeti Srivastava</th>
                                    <td>ES</td>
                                    <td><a href="mailto:preeti.srivastava@nmims.in">preeti.srivastava@nmims.in</a></td>
                        
                                  </tr>
                                  <tr>
                                    <th scope="row">Prof. Sanjay Jha</th>
                                    <td>MAE</td>
                                    <td><a href="mailto:sanjay.jha@nmims.in">sanjay.jha@nmims.in</a></td>
                    
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                      </div>
                  </div>
                  
                  
              </div>
                
              </div>
              </div>
              
            </div>
        </div>
        
        <!-- Javascripts -->
        <script src="https://kit.fontawesome.com/a7fb28fd4f.js" crossorigin="anonymous"></script>
        <script src="//www.socialintents.com/api/chat/socialintents.1.4.js#2c9faa3592ca2c110192d443a2110636" async="async"></script>
        <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
        <script src="../../assets/plugins/apexcharts/apexcharts.min.js"></script>
        <script src="../../assets/js/main.min.js"></script>
        <script src="../../assets/js/pages/dashboard.js"></script>
        <script id="embedai" src="https://embedai.thesamur.ai/embedai.js" data-id="chatgpt-CrEd7qNo"></script>

    </body>
    <script>
      // $(document).ready(function(){
      //   $(".clickme").click(function(){
      //     $("*").toggleClass("dark-mode");
      //     $(".navbar").toggleClass("dark-mode");

      //   })
      // })
    </script>
</html>
